@import "../../styles/colors.scss";

body {
  background-color: $background;
}

input[type="email"],
input[type="password"] {
  border: 1px solid $primaryDark;
  padding: 0 40px 0 8px;

  &:focus {
    outline-color: $primary;
  }
}

button {
  background-color: $primary;
  color: $white;
  border: 1px solid $primaryLight;

  &:hover {
    opacity: 0.9;
  }
}

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 40px solid $primaryDark;
    background-color: $primary;

    img {
      margin-top: 40px;
      width: 144px;
    }

    h1 {
      color: $white;
      margin: 16px 0 40px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: $white;
    padding: 40px;
    border-radius: 8px;
    align-self: center;
    box-shadow: 0 1px 3px -1px $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 16px;
      text-transform: uppercase;
    }

    .inputContainer {
      margin-top: 16px;
      display: flex;
      align-items: center;
      position: relative;

      input {
        flex-grow: 1;
      }

      .inputStatus {
        position: absolute;
        right: 8px;
        font-size: 12px;
        cursor: help;
      }
    }

    .loginSubmit {
      margin-top: 32px;
    }
    .createAccount {
      text-align: center;
      color: $primary;
      text-transform: lowercase;
      margin-top: 16px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    .errorContainer {
      display: flex;
      flex-direction: column;

      .externalSpinner {
        margin-top: 30px;
      }

      .errorMessage {
        color: $error;
      }
    }
  }

  .footer {
    background-color: $primary;
    height: 48px;
  }
}