@import "../../styles/colors.scss";

input[type="email"],
input[type="password"] {
  border: 1px solid $primaryDark;
  padding: 0 40px 0 8px;

  &:focus {
    outline-color: $primary;
  }
}

.inputContainer {
  margin-top: 16px;
  display: flex;
  align-items: center;
  position: relative;

  input {
    flex-grow: 1;
  }

  .inputStatus {
    position: absolute;
    right: 8px;
    font-size: 12px;
    cursor: help;
  }
}